.discover {
  color: $black;
  animation: fade-slide-down 0.5s 0s ease-in-out forwards;
  &-container {
    margin: 0 auto;
    padding: 36px 24px 24px 24px;
    width: 414px;
    height: 676px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__header {
      @include header(36px, 36px);
      width: 100%;
    }

    &__text {
      @include subheader(20px, 36px);
      margin-top: 24px;
      margin-bottom: 40px;
      width: 100%;
    }

    &__map {
      width: 366px;
      height: 440px;
      &--window {
        display: flex;
        flex-direction: column;
        &-img {
          width: 100%;
          height: 70px;
          object-fit: cover;
          object-position: 50% 50%;
        }
        &-header {
          @include subheader(20px, 24px);
          margin: 8px;
        }
        &-address {
          @include text(16px, 20px);
          margin: 0px 8px 8px 8px;
        }
        &-hours {
          @include text(12px, 20px);
          margin: 0px 8px 8px 8px;
        }
      }
    }
  }
}

.gm-style .gm-style-iw-c {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.gm-style .gm-style-iw-d {
  position: relative;
  overflow: hidden !important;
}
