.frenchpress {
  &-container {
    padding: 36px 24px 24px 24px;
    width: 414px;
    height: 676px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    &__close {
      height: 40px;
      position: absolute;
      left: 16px;
      top: 36px;
    }
    &__circle {
      margin-top: 24px;
      height: 200px;
      width: 200px;
      background: lightgrey;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &--img {
        padding-left: 16px;
        margin-bottom: 16px;
        height: 140px;
      }
    }

    &__tap-text {
      margin-top: 30px;
      margin-bottom: 30px;
      @include text(16px, 20px);
    }
    &__selection {
      width: 100%;
      height: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      &--grind,
      &--coffee,
      &--water {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
        background: lightgrey;
        border-radius: 50%;
      }
    }
    &__placeholders {
      margin-top: 20px;
      width: 100%;
      display: flex;
      & span {
        @include text(16px, 20px);
        width: 120px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
