.navigation {
  &__container {
    margin: 0 auto;
    width: 414px;
    height: 60px;
    background: $black;
    position: fixed;
  }
  &__buttons {
    display: flex;
    &--prepare,
    &--profile,
    &--discover {
      width: 138px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & img {
        margin-top: 10px;
        height: 24px;
      }
      // & svg {
      //   margin-top: 10px;
      //   fill : white;
      // }
      & span {
        @include text(16px, 20px);
        color: #d3d3d3;
      }
    }
    &.active {
      color: orange;
    }
  }
}
