.pourover {
  color: $black;
  animation: fade-slide-down 0.5s 0s ease-in-out forwards;
  &-container {
    // margin: 0 auto;
    padding: 36px 24px 24px 24px;
    width: 414px;
    max-height: 676px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    &.active {
      background: #d3d3d3;
    }
    &__close {
      height: 40px;
      position: absolute;
      left: 16px;
      top: 36px;
    }
    &__circle {
      margin-top: 60px;
      min-height: 200px;
      min-width: 200px;
      background: #d3d3d3;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &.active {
        background: $black;
      }
      &--img {
        height: 140px;
        &.active {
          color: $black;
          display: none;
        }
      }
    }

    &__tap-text {
      margin-top: 30px;
      margin-bottom: 30px;
      @include subheader(16px, 20px);
      &.active {
        opacity: 0;
      }
    }
    &__selection {
      width: 100%;
      height: 140px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      &.active {
        opacity: 0;
      }
      &--grind,
      &--coffee,
      &--water {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
        background: lightgrey;
        border-radius: 50%;
      }
      &--coffee__select {
        display: none;
      }
    }
    &__placeholders {
      margin-top: 20px;
      width: 100%;
      display: flex;
      & span {
        @include text(16px, 20px);
        width: 120px;
        display: flex;
        justify-content: center;
      }
    }
    &__steps {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 700px;
      overflow: scroll;
      align-items: center;

      &--header {
        @include subheader(16px, 20px);
        margin-top: 20px;
        margin-bottom: 20px;
        &.active {
          opacity: 0;
        }
      }
      &--instructions {
        margin-top: 0px;
        padding: 0;
        @include text(16px, 20px);

        list-style-type: none;
        & li {
          margin-bottom: 16px;
          text-align: center;
        }
      }
    }
    &__brewing {
      opacity: 0;
      transition: transform 1s;
      position: absolute;
      height: 0px;
      width: 100%;
      bottom: 0;
      transform: translateY(100%);
      &--steps {
        margin: 120px 0;
        @include subheader(24px, 30px);
        color: #d3d3d3;
        text-align: center;
      }
      &.active {
        opacity: 1;
        height: 300px;
        transform: translateY(0);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background: $black;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        padding: 20px 20px;
      }
    }
  }
}

.CircularProgressbar {
  max-height: 200px;
  max-width: 200px;
}

.feedback-pourover {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__header {
    @include subheader(24px, 30px);
    color: #d3d3d3;
    text-align: center;
    margin: 30px 0;
  }
  &__bitter,
  &__strong,
  &__weak,
  &__perfect,
  &__save {
    width: 150px;
    height: 50px;
    background-color: #d3d3d3;
    margin-bottom: 16px;
    margin-right: 8px;
    @include text(16px, 20px);
    border-radius: 50px;
    border: none;
    &.active {
      background: #ffa64d;
    }
    &:focus {
      outline: none;
    }
  }
}

.sizing {
  height: 400px;
}
