//GLOBAL STYLING

@import "../styles/partials/reset";
@import "../styles/partials/breakpoints";
@import "../styles/partials/colors";
@import "../styles/partials/typography";

a {
  text-decoration: none;
  color: $black;
}

.fade {
  animation: fade-in-keyframes 1s;
}
@keyframes fade-in-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//APP STYLING
@import "../styles/partials/navigation";
@import "../styles/partials/welcome";
@import "../styles/partials/profile";
@import "../styles/partials/prepare";
@import "../styles/partials/pourover";
@import "../styles/partials/frenchpress";
@import "../styles/partials/brew";
@import "../styles/partials/discover";
