@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: Avenir Regular;
  src: url(../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: Avenir Demi Bold;
  src: url(../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: Avenir Bold;
  src: url(../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf);
}

a {
  text-decoration: none;
  color: #333333;
}

.fade {
  -webkit-animation: fade-in-keyframes 1s;
          animation: fade-in-keyframes 1s;
}

@-webkit-keyframes fade-in-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navigation {
  min-width: 414px;
  height: 60px;
}

.navigation .active span {
  color: orange;
}

.navigation__container {
  margin: 0 auto;
  width: 414px;
  height: 60px;
  background: #333333;
}

.navigation__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__buttons--prepare, .navigation__buttons--profile, .navigation__buttons--discover {
  width: 138px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__buttons--prepare-img, .navigation__buttons--profile-img, .navigation__buttons--discover-img {
  margin-top: 10px;
  height: 24px;
  width: 24px;
}

.navigation__buttons--prepare span, .navigation__buttons--profile span, .navigation__buttons--discover span {
  font-family: Avenir Regular;
  font-size: 16px;
  line-height: 20px;
  color: #d3d3d3;
}

.navigation__buttons--prepare-img {
  background: url(../assets/icons/prepare_grey.svg);
}

.navigation__buttons--profile-img {
  background: url(../assets/icons/profile_grey.svg);
}

.navigation__buttons--discover-img {
  background: url(../assets/icons/discover_grey.svg);
}

.active .navigation__buttons--prepare-img {
  background: url(../assets/icons/prepare_orange.svg);
}

.active .navigation__buttons--profile-img {
  background: url(../assets/icons/profile_orange.svg);
}

.active .navigation__buttons--discover-img {
  background: url(../assets/icons/discover_orange.svg);
}

.welcome {
  -webkit-animation: fadeout 4s;
          animation: fadeout 4s;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

.welcome-container {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.welcome-container__video {
  -webkit-animation: fadein 5s;
          animation: fadein 5s;
  -o-object-fit: cover;
     object-fit: cover;
  width: 414px;
  height: 736px;
}

.welcome-container__logo {
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
  top: 100px;
  height: 120px;
  position: absolute;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.welcome-container__header {
  font-family: Avenir Bold;
  font-size: 64px;
  line-height: 40px;
  top: 250px;
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
  color: white;
  position: absolute;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.profile {
  -webkit-animation: fade-slide-down 0.5s 0s ease-in-out forwards;
          animation: fade-slide-down 0.5s 0s ease-in-out forwards;
  color: #333333;
}

.profile-container {
  margin: 0 auto;
  padding: 36px 24px 0px 24px;
  width: 414px;
  height: 676px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.profile-container__circle {
  margin: 0 auto;
  min-height: 200px;
  min-width: 200px;
  background: #d3d3d3;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-container__circle--img {
  height: 140px;
  padding-top: 10px;
}

.profile-container__header {
  font-family: Avenir Bold;
  font-size: 36px;
  line-height: 36px;
  width: 100%;
  margin-bottom: 24px;
}

.profile-container__brews {
  font-family: Avenir Demi Bold;
  font-size: 20px;
  line-height: 36px;
  margin-top: 24px;
  margin-bottom: 40px;
  width: 100%;
}

.profile-container__mybrews {
  font-family: Avenir Demi Bold;
  font-size: 20px;
  line-height: 36px;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 380px;
  overflow: scroll;
  position: aboslute;
}

.profile-container__placeholders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.profile-container__placeholders span {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 122px;
  font-family: Avenir Regular;
  font-size: 16px;
  line-height: 20px;
}

.profile-container__placeholders--time {
  padding-left: 40px;
}

.profile-container__placeholders--method {
  padding-left: 50px;
}

.profile-container__brew {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.profile-container__brew--date {
  width: 164px;
  font-family: Avenir Regular;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
}

.profile-container__brew--time {
  width: 80px;
  font-family: Avenir Regular;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
}

.profile-container__brew--method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  padding-left: 68px;
}

.selection {
  -webkit-animation: fade-slide-down 0.5s 0s ease-in-out forwards;
          animation: fade-slide-down 0.5s 0s ease-in-out forwards;
}

.selection-container {
  margin: 0 auto;
  padding: 36px 24px 24px 24px;
  width: 414px;
  height: 676px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.selection-container__header {
  font-family: Avenir Bold;
  font-size: 36px;
  line-height: 40px;
  width: 100%;
  color: #333333;
}

.selection-container__pourover, .selection-container__frenchpress {
  width: 183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection-container__pourover--text, .selection-container__frenchpress--text {
  margin-top: 24px;
  font-family: Avenir Demi Bold;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
}

.selection-container__pourover--img, .selection-container__frenchpress--img {
  height: 140px;
}

@-webkit-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.pourover {
  color: #333333;
  -webkit-animation: fade-slide-down 0.5s 0s ease-in-out forwards;
          animation: fade-slide-down 0.5s 0s ease-in-out forwards;
}

.pourover-container {
  margin: 0 auto;
  padding: 36px 24px 24px 24px;
  width: 414px;
  max-height: 676px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.pourover-container.active {
  background: #d3d3d3;
}

.pourover-container__close {
  height: 40px;
  position: absolute;
  left: 16px;
  top: 36px;
}

.pourover-container__circle {
  margin-top: 60px;
  min-height: 200px;
  min-width: 200px;
  background: #d3d3d3;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pourover-container__circle.active {
  background: #333333;
}

.pourover-container__circle--img {
  height: 140px;
}

.pourover-container__circle--img.active {
  color: #333333;
  display: none;
}

.pourover-container__tap-text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Avenir Demi Bold;
  font-size: 16px;
  line-height: 20px;
}

.pourover-container__tap-text.active {
  opacity: 0;
}

.pourover-container__selection {
  width: 100%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pourover-container__selection.active {
  opacity: 0;
}

.pourover-container__selection--grind, .pourover-container__selection--coffee, .pourover-container__selection--water {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100px;
  background: lightgrey;
  border-radius: 50%;
}

.pourover-container__selection--coffee__select {
  display: none;
}

.pourover-container__placeholders {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pourover-container__placeholders span {
  font-family: Avenir Regular;
  font-size: 16px;
  line-height: 20px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pourover-container__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 700px;
  overflow: scroll;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pourover-container__steps--header {
  font-family: Avenir Demi Bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pourover-container__steps--header.active {
  opacity: 0;
}

.pourover-container__steps--instructions {
  margin-top: 0px;
  padding: 0;
  font-family: Avenir Regular;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
}

.pourover-container__steps--instructions li {
  margin-bottom: 16px;
  text-align: center;
}

.pourover-container__brewing {
  opacity: 0;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  position: absolute;
  height: 0px;
  width: 100%;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.pourover-container__brewing--steps {
  margin: 120px 0;
  font-family: Avenir Demi Bold;
  font-size: 24px;
  line-height: 30px;
  color: #d3d3d3;
  text-align: center;
}

.pourover-container__brewing.active {
  opacity: 1;
  height: 300px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #333333;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding: 20px 20px;
}

.CircularProgressbar {
  max-height: 200px;
  max-width: 200px;
}

.feedback-pourover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback-pourover__header {
  font-family: Avenir Demi Bold;
  font-size: 24px;
  line-height: 30px;
  color: #d3d3d3;
  text-align: center;
  margin: 30px 0;
}

.feedback-pourover__bitter, .feedback-pourover__strong, .feedback-pourover__weak, .feedback-pourover__perfect, .feedback-pourover__save {
  width: 150px;
  height: 50px;
  background-color: #d3d3d3;
  margin-bottom: 16px;
  margin-right: 8px;
  font-family: Avenir Regular;
  font-size: 16px;
  line-height: 20px;
  border-radius: 50px;
  border: none;
}

.feedback-pourover__bitter.active, .feedback-pourover__strong.active, .feedback-pourover__weak.active, .feedback-pourover__perfect.active, .feedback-pourover__save.active {
  background: #ffa64d;
}

.feedback-pourover__bitter:focus, .feedback-pourover__strong:focus, .feedback-pourover__weak:focus, .feedback-pourover__perfect:focus, .feedback-pourover__save:focus {
  outline: none;
}

.sizing {
  height: 400px;
}

.frenchpress {
  color: #333333;
  -webkit-animation: fade-slide-down 0.5s 0s ease-in-out forwards;
          animation: fade-slide-down 0.5s 0s ease-in-out forwards;
}

.frenchpress-container {
  margin: 0 auto;
  padding: 36px 24px 24px 24px;
  width: 414px;
  max-height: 676px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.frenchpress-container.active {
  background: #d3d3d3;
}

.frenchpress-container__close {
  height: 40px;
  position: absolute;
  left: 16px;
  top: 36px;
}

.frenchpress-container__circle {
  margin-top: 60px;
  min-height: 200px;
  min-width: 200px;
  background: #d3d3d3;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frenchpress-container__circle.active {
  background: #333333;
}

.frenchpress-container__circle--img {
  padding-left: 16px;
  padding-bottom: 8px;
}

.frenchpress-container__circle--img.active {
  color: #333333;
  display: none;
}

.frenchpress-container__tap-text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Avenir Demi Bold;
  font-size: 16px;
  line-height: 20px;
}

.frenchpress-container__tap-text.active {
  opacity: 0;
}

.frenchpress-container__selection {
  width: 100%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frenchpress-container__selection.active {
  opacity: 0;
}

.frenchpress-container__selection--grind, .frenchpress-container__selection--coffee, .frenchpress-container__selection--water {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100px;
  background: lightgrey;
  border-radius: 50%;
}

.frenchpress-container__selection--coffee__select {
  display: none;
}

.frenchpress-container__placeholders {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frenchpress-container__placeholders span {
  font-family: Avenir Regular;
  font-size: 16px;
  line-height: 20px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.frenchpress-container__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 700px;
  overflow: scroll;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frenchpress-container__steps--header {
  font-family: Avenir Demi Bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.frenchpress-container__steps--header.active {
  opacity: 0;
}

.frenchpress-container__steps--instructions {
  margin-top: 0px;
  padding: 0;
  font-family: Avenir Regular;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
}

.frenchpress-container__steps--instructions li {
  margin-bottom: 16px;
  text-align: center;
}

.frenchpress-container__brewing {
  opacity: 0;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  position: absolute;
  height: 0px;
  width: 100%;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.frenchpress-container__brewing--steps {
  margin: 120px 0;
  font-family: Avenir Demi Bold;
  font-size: 24px;
  line-height: 30px;
  color: #d3d3d3;
  text-align: center;
}

.frenchpress-container__brewing.active {
  opacity: 1;
  height: 300px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #333333;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding: 20px 20px;
}

.CircularProgressbar {
  max-height: 200px;
  max-width: 200px;
}

.feedback-frenchpress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback-frenchpress__header {
  font-family: Avenir Demi Bold;
  font-size: 24px;
  line-height: 30px;
  color: #d3d3d3;
  text-align: center;
  margin: 30px 0;
}

.feedback-frenchpress__bitter, .feedback-frenchpress__strong, .feedback-frenchpress__weak, .feedback-frenchpress__perfect, .feedback-frenchpress__save {
  width: 150px;
  height: 50px;
  background-color: #d3d3d3;
  margin-bottom: 16px;
  margin-right: 8px;
  font-family: Avenir Regular;
  font-size: 16px;
  line-height: 20px;
  border-radius: 50px;
  border: none;
}

.feedback-frenchpress__bitter.active, .feedback-frenchpress__strong.active, .feedback-frenchpress__weak.active, .feedback-frenchpress__perfect.active, .feedback-frenchpress__save.active {
  background: #ffa64d;
}

.feedback-frenchpress__bitter:focus, .feedback-frenchpress__strong:focus, .feedback-frenchpress__weak:focus, .feedback-frenchpress__perfect:focus, .feedback-frenchpress__save:focus {
  outline: none;
}

.sizing {
  height: 400px;
}

.brew {
  color: #333333;
  -webkit-animation: fade-slide-down 0.5s 0s ease-in-out forwards;
          animation: fade-slide-down 0.5s 0s ease-in-out forwards;
}

.brew-container {
  margin: 0 auto;
  padding: 36px 24px 24px 24px;
  width: 414px;
  height: 676px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.brew-container__header {
  font-family: Avenir Bold;
  font-size: 36px;
  line-height: 36px;
  width: 100%;
}

.brew-container__circle {
  margin-top: 24px;
  margin-bottom: 48px;
  min-height: 200px;
  min-width: 200px;
  background: lightgrey;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brew-container__circle--img {
  height: 140px;
}

.brew-container__brewinfo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brew-container__brewinfo--date, .brew-container__brewinfo--time, .brew-container__brewinfo--method, .brew-container__brewinfo--ratio, .brew-container__brewinfo--grind, .brew-container__brewinfo--coffee, .brew-container__brewinfo--water, .brew-container__brewinfo--notes, .brew-container__brewinfo--reccomendations {
  font-family: Avenir Regular;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 8px;
}

.discover {
  color: #333333;
  -webkit-animation: fade-slide-down 0.5s 0s ease-in-out forwards;
          animation: fade-slide-down 0.5s 0s ease-in-out forwards;
}

.discover-container {
  margin: 0 auto;
  padding: 36px 24px 24px 24px;
  width: 414px;
  height: 676px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discover-container__header {
  font-family: Avenir Bold;
  font-size: 36px;
  line-height: 36px;
  width: 100%;
}

.discover-container__text {
  font-family: Avenir Demi Bold;
  font-size: 20px;
  line-height: 36px;
  margin-top: 24px;
  margin-bottom: 40px;
  width: 100%;
}

.discover-container__map {
  width: 366px;
  height: 440px;
}

.discover-container__map--window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.discover-container__map--window-img {
  width: 100%;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.discover-container__map--window-header {
  font-family: Avenir Demi Bold;
  font-size: 20px;
  line-height: 24px;
  margin: 8px;
}

.discover-container__map--window-address {
  font-family: Avenir Regular;
  font-size: 16px;
  line-height: 20px;
  margin: 0px 8px 8px 8px;
}

.discover-container__map--window-hours {
  font-family: Avenir Regular;
  font-size: 12px;
  line-height: 20px;
  margin: 0px 8px 8px 8px;
}

.gm-style .gm-style-iw-c {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gm-style .gm-style-iw-d {
  position: relative;
  overflow: hidden !important;
}
/*# sourceMappingURL=main.css.map */